@{
    ViewData["Title"] = Model.Category.Name;
    int i = 0;
}
@model CategoryVM

<section class="py-3" id="@Model.Category.Name">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Category.Products)
            {
                if (item.Category.Name == "PIZZA")
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-3 g-4">
                        <div id="products" class="card">
                            <a asp-action="detail" asp-controller="product" asp-route-id="@item.Id">
                                <img class="card-img-top" src="~/assets/img/@item.ImageUrl" alt="Card image cap">
                            </a>                        <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text h-25">
                                    @item.Description
                                </p>
                                <select class="pizzaselect" id="pizzaSize_@i" name="" onchange="hesapla('pizzaSize_@i', 'PizzaPrice_@i', @item.Price)">
                                    <option id="kucuk_@i" value="kicik">Kicik</option>
                                    <option id="orta_@i" selected value="orta">Orta</option>
                                    <option id="buyuk_@i" value="buyuk">Boyuk</option>
                                </select>
                                <div class="productPrice">
                                    <p>Qiymet: <span id="PizzaPrice_@i">@item.Price</span></p>
                                </div>
                                <a asp-action="add" asp-route-id="@item.Id" asp-controller="basket" class="btn btn-success">Bunu Seç</a>
                            </div>
                        </div>
                    </div>
                    i++;
                }
                else
                {
                    <div class="col-lg-3  col-md-4 col-sm-6 g-4">
                        <div id="products" class="card">
                            <a class="bg-white" asp-action="detail" asp-controller="product" asp-route-id="@item.Id">
                                <img class="card-img-top" src="~/assets/img/@item.ImageUrl" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @item.Name
                                </h5>
                                <p class="card-text ">
                                    @item.Description
                                </p>
                                <div class="productPrice">

                                    <p>Qiymet: <span class="fs-4 fw-light text-danger">@item.Price</span>azn </p>
                                </div>

                                <a asp-action="add" asp-controller="basket" asp-route-id="@item.Id" class="btn btn-success">Bunu Seç</a>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>
    </div>
</section>

<script src="~/assets/js/pizza.js"></script>
