@using FinalProject_PapaJohns.Helpers;
@model Pagination<Product>
@{
    ViewData["Title"] = "index";

}

<section id="Souslar">


    <div class="container">
        <div id="listProduct" class="row  justify-content-center">
            @foreach (var product in Model.Items)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 g-4">
                    <div class="card h-100">
                        <a asp-action="detail" asp-controller="product" asp-route-id="@product.Id" class="bg-white">
                            <img class="card-img-top w-100 h-100" src="~/assets/img/@product.ImageUrl" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                @product.Name




                            </h5>
                            <div class="productPrice">

                                <p>Qiymet: <span>@product.Price</span> azn</p>
                            </div>
                            <a asp-controller="basket" asp-route-id="@product.Id" asp-action="add" class="btn btn-success">Bunu Seç</a>
                        </div>
                    </div>


                </div>

            }
    


        </div>
        <div class="container">
            <div class="row py-4  ">
                <nav aria-label="Page navigation example" >
                    <ul class="pagination ">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@(Model.CurrentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                <a class="page-link" asp-action="index" asp-route-page="@i">@i</a>
                            </li>
                        }
                        @if (Model.CurrentPage < Model.PageCount)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@(Model.CurrentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>

  
</section>

<script src="~/assets/js/shop.js"></script>
   